*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.conatiner{
    width: 1440px;
    height: 5577px;
    margin: 0 auto;
}
.conatiner .nav .logo{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 90px;
    width: 1160px;
height: 51px;
flex-shrink: 0;
border-radius: 75px;
background: rgba(255, 255, 255, 0.90);
backdrop-filter: blur(7.5px);
}
.conatiner .nav .logo ul{
    display: flex;
   gap: 41px;
}
.conatiner .nav .logo ul li a{
    color: #22253B;
text-align: center;
font-family: Gilroy;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 104.4%; 
}
.conatiner .nav .logo ul li a:active{
    color: #F15525;
}
.conatiner .nav .logo .nav_btn .first_btn{
    border: none;
    color: #3C3E50;
font-family: Gilroy;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 104.4%;
background-color: white;
}
.conatiner .nav .logo .nav_btn .second_btn{
    border: none;
    border-radius: 34px;
    background: #38BFF2;
    width: 77.903px;
height: 30.731px;
flex-shrink: 0;
color: #FFF;
font-family: Gilroy;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 104.4%;
margin-left: 15px;
}
.conatiner .nav .logo .nav_btn .second_btn:active{
    background-color: #22253B;
}
.conatiner .about{
    display: flex;
    margin-top: 89px;
    margin-left: 90px;
    gap: 107px;
   
}
.conatiner .about .about_text h1{
    color: #22253B;
font-family: Gilroy;
font-size: 46px;
font-style: normal;
font-weight: 500;
line-height: 46px;
}
.conatiner .about .about_text h1 span{
    color: #F15525;
font-family: Gilroy SemiBold;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: 46px;

}
.conatiner .about .about_text h1 strong{
    color: #22253B;
font-family: Gilroy SemiBold;
font-size: 46px;
font-style: italic;
font-weight: 400;
line-height: 46px;
}
.conatiner .about .about_text .about_line{
    width: 365.216px;
height: 1px;
background: #DEDEDE;
margin-top: 30px;
}
.conatiner .about .about_text p{
    color: #22253B;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23px;
padding-top: 15px;
}
.conatiner .about .about_text button{
    width: 321px;
height: 70px;
flex-shrink: 0;
border-radius: 82px;
background: #F15525;
border: none;
margin-top: 19px;
color: #FFF;
text-align: center;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 96.688%; /* 19.338px */
letter-spacing: -0.6px;
}
.conatiner .about .about_text button:active{
    background-color: #FFB359;
}
/* first section ended */
/* second section started */
.conatiner .education{
    margin-left: 90px;
    margin-top: 100px;
}
.conatiner .education h2{
    text-align: center;
    align-items: center;
    color: #22253B;
text-align: center;
font-family: Gilroy SemiBold;
font-size: 46px;
font-style: normal;
font-weight: 600;
line-height: 46px;
}
.conatiner .education .education_info{
    margin-top: 35px;
    width: 1160px;
height: 396px;
flex-shrink: 0;
border-radius: 48px;
background: #EAF2F5;
display: flex;
padding-left: 100px;
padding-top: 42px;
}